ForImeTest2/*.iml
ForImeTest2/.gradle
ForImeTest2/local.properties
ForImeTest2/.idea/workspace.xml
ForImeTest2/.idea/libraries
ForImeTest2/.DS_Store
ForImeTest2/build
ForImeTest2/captures
ForImeTest2/app/build
